/* 
Filename : model.css
Crator : Bergmann Florian
Last update : 16.05.2019
*/
*{
	margin: 0;
	padding: 0;
}
.content{
	width: 100vw;
	min-height: 700px;
	font-size: 0;
}
.content > *{
	display: inline-block;
	font-size: 14px;
}